<div class="d-block">
  <h4 class="py-3">Students</h4>

  <mat-form-field appearance="fill">
    <mat-label>Select the standard</mat-label>
    <mat-select
      [(value)]="selectedStandard"
      (valueChange)="standardSelectedChange()"
    >
      <mat-option
        [value]="option.id"
        *ngFor="let option of standards$ | async"
        >{{ option.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<!-- <button mat-fab class="md-fab-bottom-right" color="accent">
  <mat-icon>add</mat-icon>
</button> -->

<button
  class="button add-student"
  mat-raised-button
  color="primary"
  (click)="addStudent()"
>
  <mat-icon>add</mat-icon>Add Student
</button>

<table
  mat-table
  [dataSource]="students$ | async"
  class="mat-elevation-z8 w-100"
  fixedLayout="true"
>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      No data available
    </td>
  </tr>
</table>

<div
  *ngIf="isLoading"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  "
>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
