<div class="p-3 p-md-5 bg-light">
  <h1 class="display-4 fw-normal">Ed-Quiz</h1>

  <div class="d-flex pt-2 home-content">
    <div class="d-flex flex-column">
      <p class="lead fw-normal pt-2">
        Study tells that
        <a
          target="_blank"
          href="https://www.digitaltrends.com/computing/study-children-spending-more-time-with-screen-media-than-books/"
          >kids spending more time with screen media than books</a
        >.
      </p>

      <div class="lead fw-normal">
        <p>
          <a
            color="primary"
            class="text-decoration-none"
            href="javascript:void(0)"
            >Ed-Quiz</a
          >
          offers the parents to evaluate the performance of the children's
          studies through Digital Technology in 3 simple steps.
        </p>
      </div>

      <ol>
        <li>
          <div class="lead fw-normal">
            Parents can prepare a set of questions from a textbook grouped by
            subjects in an MCQ format
          </div>
        </li>
        <li>
          <div class="lead fw-normal">
            Parents can assign and share the Quiz link to their children via
            WhatsApp, Facebook, or even direct link.
          </div>
        </li>
        <li>
          <div class="lead fw-normal">
            Children can take the Quiz interactively with the Web or Mobile
            through which their performance can be evaluated.
          </div>
        </li>
      </ol>

      <div class="mt-3">
        <button (click)="navigateToLogin()" mat-raised-button color="primary">
          Login
        </button>

        <button class="ms-2" (click)="navigateToRegister()" mat-raised-button>
          Register
        </button>
      </div>
    </div>

    <div class="process">
      <img src="assets/images/process.png" />
    </div>
  </div>
</div>
